<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CityData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E3AEF51D13E754003B358C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E3AF111D13E756003B358C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E3AF1C1D13E756003B358C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
