<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableView-FDTemplateLayoutCellDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041AE4651DB8A5B000B7E9B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041AE4811DB8A5B200B7E9B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041AE48C1DB8A5B300B7E9B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
