<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopVCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CA5A9F1D9900DF003219FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CA5ABB1D9900E0003219FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CA5AC61D9900E0003219FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
